<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      List of Passwords
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list *ngIf="sharedData.length > 0">
    <ion-item-sliding *ngFor="let data of sharedData; let i = index">
      <ion-item>
        <ion-label>
          <h2>{{ data.websiteName }}</h2>
          <p><strong>Email:</strong> {{ data.emailAddress }}</p>
          <p><strong>Password:</strong> {{ data.password }}</p>
        </ion-label>
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option color="danger" (click)="deleteEntry(i)">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <p *ngIf="sharedData.length === 0">No data saved yet.</p>
</ion-content>
